@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}


body, html {
  min-width: 100vw;
  min-height: 100vh;
  background: #222;
  color: #ddd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Coda", sans-serif;
}

body {
  background-image: url('images/wall-blue.jpg');
  background-attachment: fixed;
  background-position: center center;
}

a {
  color: white;
}

.login-pf-page {
  width: 280px;
  border-radius: 512px 512px 200px 200px;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  font-family: sans-serif;
  color: #eee;
  padding: 0 0 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(18, 212, 255, 0.75);
  background-image: url('images/wall-blue-vertical-blur.png');
  background-size: auto 100vh;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;

  @supports (backdrop-filter: none) {
    background-color: rgba(255,255,255,.05);
    background-image: none;
    backdrop-filter: blur(20px) brightness(1.2);
  }
  @include mobile {
    width: 90vw;
    max-width: 90vw;
  }

  #kc-header {
    font-size: 24pt;
    font-family: 'Coda', sans-serif;
    color: #eee;
    color: rgba(255,255,255,0.8);
    font-weight: normal;
    user-select: none;
    //margin-bottom: 1rem;
    text-transform: none;

    .kc-logo-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        $logo-size: 280px;
        width:  $logo-size;
        height: $logo-size;
        filter: drop-shadow(0 0 10px rgba(1, 188, 255, 0.9));
        margin-bottom: -1rem;
        background-image: url('images/logo-reclaimer.png');
        background-size: 100% 100%;
        @include mobile {
          width: 85%;
        }
      }
    }
  }



  #kc-page-title {
    margin: 0;
    margin-top: -0.25rem;
    font-size: 10pt;
    font-family: 'Coda', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  #kc-content {
    #kc-content-wrapper {
      .alert {
        margin: 1.5rem 0.75rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        padding: 0.5rem 0.5rem;
        color: white;
      }
      .alert-success {
        background-color: rgba(102, 187, 106, 0.25);
        border-color: rgba(102, 187, 106, 0.50);
        box-shadow: inset 0 0 7px rgba(102, 187, 106, 0.50), 0 0 3px rgba(102, 187, 106, 0.50);
      }
      .alert-error {
        background-color: rgba(244, 67, 54, 0.25);
        border-color: rgba(244, 67, 54, 0.50);
        box-shadow: inset 0 0 7px rgba(244, 67, 54, 0.50), 0 0 3px rgba(244, 67, 54, 0.50);
      }




    }
  }






  #kc-locale {
    display: none;
  }

  .alert {
    margin: 2rem 0;
  }
  .alert-success {

  }

  #kc-registration {
    font-size: 8pt;
  }

  .form-group {
    position: relative;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    height: 30px;
    @include mobile {
      margin-bottom: 1.5rem;
    }
    label.control-label {
      span {
        width: 100%;
        height: 100%;
        display: block;
      }
      text-align: center;
      font-family: "Coda", sans-serif;
      font-size: 11pt;
      position: absolute;
      min-width: 200px;
      height: 30px;
      line-height: 30px;
      top: 0;
      left: 50%;
      margin-left: -100px;
      user-select: none;
      color: rgba(255,255,255,0.8);
      transition-property: color, font-size, height, line-height, top;
      transition-duration: 120ms;
      transition-timing-function: ease-out;
      @include mobile {
        height: 34px;
        line-height: 34px;
      }
      &.active {
        color: rgba(255,255,255,0.5);
        font-size: 6pt;
        height: 10px;
        line-height: 10px;
        top: -10px;
        @include mobile {
          font-size: 8pt;
          height: 10px;
          line-height: 10px;
          top: -10px;
        }
      }
    }

    &.login-pf-settings {
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      .kc-form-options {
        text-align: center;
      }
    }

    .rememberMe {
      padding: 0.25rem 0 1.5rem 0;
      font-size: 8pt;
    }

    .toggle {
      cursor: pointer;
      height: 20px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        position: absolute;
        visibility: hidden;
        &:checked + .toggle-switch {
          background-color: #56c080;
        }
        &:checked + .toggle-switch:before {
          left: 18px;
        }
      }
      &:hover .toggle-switch:before {
        //background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        //background: green;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
      }
      .toggle-switch {
        display: inline-block;
        background-color: rgba(255,255,255,0.15);
        border: 1px solid rgba(255,255,255,0.15);
        box-sizing: border-box;
        border-radius: 16px;
        width: 42px;
        height: 18px;
        position: relative;
        vertical-align: middle;
        transition: background 0.25s;
        &:before, &:after {
          content: "";
        }
        &:before {
          display: block;
          background: linear-gradient(to bottom, #fff 0%, #eee 100%);
          border-radius: 30px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
          width: 20px;
          height: 12px;
          position: absolute;
          top: 2px;
          left: 3px;
          transition: left 0.25s;
        }
      }
      .toggle-label {
        margin-left: 0.5rem;
        position: relative;
        user-select: none;
      }
    }


    input.form-control {
      user-select: none;
      font-size: 11pt;
      border-radius: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255,255,255,0.15);
      background-color: rgba(255,255,255,0.05);
      box-shadow: inset 0 0 4px rgba(255,255,255,0.05);
      color: #eee;
      box-sizing: border-box;
      width: 100%;
      padding: 4px 8px;
      font-family: "Coda", sans-serif;
      text-align: center;
      transition-duration: 150ms;
      transition-timing-function: ease-out;
      transition-property: border-color, background-color, box-shadow;
      height: 30px;
      @include mobile {
        height: 34px;
        line-height: 34px;
        border-radius: 20px;
      }
      &:hover {
        border-color: rgba(255,255,255,0.2);
        background-color: rgba(255,255,255,0.08);
        box-shadow: inset 0 0 8px rgba(255,255,255,0.1);
      }
      &:focus {
        outline: none;
        border-color: rgba(255,255,255,0.4);
        background-color: rgba(255,255,255,0.12);
        box-shadow: inset 0 0 6px rgba(255,255,255,0.14);
      }
    }
  }

  #kc-form-buttons {
    margin-top: 1.5rem;
  }

  input[type=submit] {
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.25);
    background-color: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 4px rgba(255,255,255,0.05);
    padding: 0.25rem 1.25rem;
    text-shadow: none;
    min-width: 0;
    font-family: "Coda", sans-serif;
    text-align: center;
    font-size: 10pt;
    color: #eee;
    margin: 0 0.25rem;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-property: border-color, background-color, box-shadow;
    height: 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: normal;
    //@include mobile {
    //  height: 40px;
    //  border-radius: 20px;
    //  padding: 0.25rem 2rem;
    //  font-size: 10pt;
    //  text-transform: uppercase;
    //}
    &:hover {
      border-color: rgba(255,255,255,0.3);
      background-color: rgba(255,255,255,0.15);
      box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    }
    &:active {
      border-color: rgba(255,255,255,0.5);
      background-color: rgba(255,255,255,0.25);
      box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    }
  }

}

